 body {
     background-color: rgb(59, 59, 59);
 }

 .contanier {
     display: flex;
     height: 100%;
 }

 .left {
     float: left;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .right {
     float: right;
 }

 .html {
     display: flex;
     flex-direction: column;
     height: 220px;
     margin-top: 40px;
 }

 .css {
     display: flex;
     flex-direction: column;
     height: 220px;
 }

 .js {
     display: flex;
     flex-direction: column;
     height: 220px;
 }

 textarea {
     height: 100%;
     border: none;
     background-color: rgb(40, 39, 39);
     color: white;

 }

 iframe {

     border: none;
     text-decoration: none;
     background-color: white;
 }

 .run {

     background-color: rgb(19, 152, 19);
     height: 40px;
     width: 80px;
     color: white;
     border-radius: 10px;
     border: none;
 }

 .btn {
     background-color: black;
     color: white;

 }